#Dependancies
node_modules

#Environment Variables
.env
.env.*
!.env.example
.env.local


#Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.log



#Git

.git
.gitignore

#Docker
Dockerfile
.dockerignore
docker-compose.yml
docker-compose.*.yml


#Extra
dist
build



#tests
coverage
.nyc_output


#OS Editor
.DS_Store
.vscode
.idea


#Temporary Files
tmp
temp
.cache
*.tmp



#Documentation
README.md
*.md

